<!-- https://stackoverflow.com/questions/46977398/ng-bootstrap-modal-size -->
<!-- admin edit modal -->
<ng-template #editUser let-c="close" let-d="dismiss">
    <div class="modal-header">
	    <h4 class="modal-title" id="modal-title">Edit User:  
                {{(singleUser.displayName) ? singleUser.displayName : 'Name Not Defined'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
	<p><strong>Email Address:</strong>
	<input type="text" size="48" [(ngModel)]="singleUser.email" ></p>
	<p><strong>Display Name:</strong>
	<input type="text" size="48" [(ngModel)]="singleUser.displayName" ></p>
	<p><strong>Verified:</strong> {{singleUser.emailVerified}}</p>

	<p><strong>Verified:</strong>&nbsp;&nbsp;
	<ng-toggle
		onColor="primary"
      		onText="True"
		offColor="secondary"
  		offText="False"
    		[disabled]=true
    		[size]="sm"
    		[(ngModel)]="singleUser.emailVerified"
	>
	<input type="checkbox" [(ngModel)]="singleUser.emailVerified">
	</ng-toggle>
	</p>

	<div class="custom-control custom-switch">
	  <label class="custom-control-label" for="switch1">Verified: </label>
	  <input type="checkbox" class="custom-control-input" name="switch1" id="switch1" [(ng-model)]="singleUser.emailVerified">
	</div>

	<p><strong>Admin:</strong>&nbsp;&nbsp;
		<ng-toggle
		onColor="primary"
      		onText="True"
		offColor="secondary"
  		offText="False"
    		[disabled]=false
    		[size]="sm"
    		[(ngModel)]="singleUser.isAdmin"
	>
	<input type="checkbox" [(ngModel)]="singleUser.isAdmin">
	</ng-toggle>
	</p>

	<p><strong>Created:</strong> {{singleUser.createTime}}</p>
	<p><strong>LastLogin:</strong> {{singleUser.lastLoggedIn}}</p>
    </div>
    <div class="modal-footer">
	    <div class="btn-toolbar">
        <button type="button" class="btn mr-2 btn-outline-secondary" (click)="d('cancel click')">Cancel</button>
        <button type="button" class="btn mr-2 btn-outline-dark" (click)="c('Save click')">Save</button>
        <!--
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
	-->
	</div>
	<div class="btn-toolbar">
	     <button class="btn mr-1 btn-primary" (click)="changeUserPassword(singleUser)">
	      <i class="fa fa-key" aria-hidden="true"></i>Change Password
             </button>

	     <button class="btn mr-1 btn-primary" (click)="disableUser(singleUser)">
	      <i class="fa fa-user-slash" aria-hidden="true"></i>Disable User
             </button>

	     <button class="btn btn-danger" (click)="deleteUser(singleUser)">
	      <i class="fa fa-trash" aria-hidden="true"></i>Delete User
             </button>
	</div>
    </div>
</ng-template>


<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/IterativeSearch_LOGO_RGB.png" alt="isearch Logo">
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

	  <!-- admin page -->
          <li *ngIf="isAdmin==true" class="nav-item">
            <a class="nav-link" (click)="gotoAdmin()">
              <i class="fas fa-cog fa-spin fa-fw" aria-hidden="true"></i>Admin
            </a>
          </li>

	  <!-- user profile -->
          <li class="nav-item">
            <a class="nav-link active" (click)="gotoUserProfile()">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

	<div *ngIf="showUserProfile==true">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>

	     <button class="btn btn-primary" (click)="changeEmail(user)">
	      <i class="fa fa-envelope" aria-hidden="true"></i>Change Email
             </button>
             <br/><br/>

	     <button class="btn btn-primary" (click)="changePassword(user)">
	      <i class="fa fa-key" aria-hidden="true"></i>Change Password
             </button>
             <br/><br/>

	     <button class="btn btn-danger" (click)="deleteAccount(user)">
	      <i class="fa fa-trash" aria-hidden="true"></i>Delete Account
             </button>

              </div>
            </div>
          </div>
        </div>
        </div>

	<div *ngIf="showUserProfile==false">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Admin Screen</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">

	   <table class="table">
      <thead>
        <th>Email</th>
        <th>Name</th>
	<!-- <th>ID</th> -->
        <th>Verified</th>
        <th>Admin</th>
        <th>Created</th>
        <th>LastLogin</th>
        <th> </th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async ">
          <td>{{user.email}}</td>
          <td>{{(user.displayName) ? user.displayName : 'User'}}</td>
	  <!-- <td>{{user.uid}}</td> -->
          <td *ngIf="user.emailVerified==true" style="color:green;">{{user.emailVerified}}</td>
          <td *ngIf="user.emailVerified==false" style="color:red;">{{user.emailVerified}}</td>
          <td *ngIf="user.isAdmin==true" style="color:blue;">{{user.isAdmin}}</td>
          <td *ngIf="user.isAdmin!==true" >{{user.isAdmin}}</td>
          <td>{{user.createTime}}</td>
          <td>{{user.lastLoggedIn}}</td>
          <td><button class="g-btn btn btn-sm btn-outline-secondary" (click)="openModal(editUser,user)">
	      <i class="fa fa-pencil-alt" aria-hidden="true"></i>
             </button>

          </td>
        </tr>
      </tbody>
    </table>
          </div>
        </div>
        </div>

      </div>
    </main>

  </div>
</div>
