@import '~ngx-ui-switch/ui-switch.component.css';

/*** none of the below remove the "box" arround switch
.switch {
	border: 0px!important;
	border: none!important;
	box-shadow: none!important;

	small {
	  box-shadow: none!important;
	}
}
***/
