<div class="displayTable">
  <div class="displayTableCell">

    <div class="px-logo">
	<a href="https://www.isearch.com" target="_blank">
        <img src="/assets/IterativeSearch_LOGO_RGB.png" alt="isearch">
      </a>

    </div>

    <div class="authBlock">
      <h3>Sign Up</h3>

      <form [formGroup]="formGroup" (validSubmit)="onSubmit(formGroup)">
      <div class="form-group">
	<label class="control-label" hidden>Email</label>
        <input type="email" class="form-control" placeholder="Email Address"          formControlName="Email" aria-describedby="emailHelpBlock">
	<small id="emailHelpBlock" class="form-text text-muted">
		A valid email address is required.
	</small>
      </div>

      <div class="form-group">
	<label class="control-label" hidden>Password</label>
	<!--
        <input type="password" class="formControl" placeholder="Password" formControlName="Password" required minlength="8" maxlength="20" appForbidden="password" aria-describedby="pwdHelpBlock">
	-->
        <input type="password" class="formControl" placeholder="Password" formControlName="Password" aria-describedby="pwdHelpBlock">
	<small id="pwdHelpBlock" class="form-text text-muted">
		Your password must be 8-20 characters long.
	</small>
      </div>
      <!-- validation alerts for password --
      <div *ngIf="userPwd.invalid && (userPwd.dirty || userPwd.touched)">
	      <ngb-alert [dismissible]="true" (close)="userPwd.untouched=true;" type="failure">
	      == specific alerts ==
	      <div *ngIf="userPwd.errors.required">
	      Password is required
	      </div>

	      <div *ngIf="userPwd.errors.minlength">
	      Password must be at least 8 characters
	      </div>

	      <div *ngIf="userPwd.errors.maxlength">
	      Password must be no more than 20 characters
	      </div>

	      <div *ngIf="userPwd.errors.forbiddenName">
	      Password cannot be password
	      </div>
      </ngb-alert>
      </div>
      -->

      <div class="form-group form-check">
	<label class="control-label" hidden>Terms & Conditions</label>
        <input type="checkbox" class="form-check-input" formControlName="acceptTerms" aria-describedby="tnclHelpBlock">
	<small id="tncHelpBlock" class="form-text text-muted">
		Accept <a href="#">Terms & Conditions</a>
	</small>
      </div>


      <div *ngIf="formGroup.valid" class="formGroup">
	      <button type="submit" class="btn btnPrimary">Sign Up</button>
      </div>
      <div *ngIf="formGroup.invalid" class="formGroup">
	      <button type="button" class="btn btnSecondary" disabled>Sign Up</button>
      </div>
      </form>
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>

</div>
